<div class="container">
  <h1>The great cocktail app</h1>
  <%= link_to "ADD NEW AMAZING COCKTAIL", new_cocktail_path %>

    <% @cocktails.each do |c| %>
    <div class="card">
      <a href="cocktails/<%= c.id %>"><%= c.name %></a>
    </div>
    <% end %>


</div>
